# Dependencies
node_modules
*/node_modules

# Build
dist
*/dist
build

# Environment
.env
.env.local
*.env

# Prisma
prisma/dev.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs
